<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" uri="http://www.springframework.org/tags/form">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body >
<a style="font-weight: 800;
    font-size: 17px;
	color: #666;
left:120px;
text-decoration: none;
    	width: 200px;
	margin: 0px 10px;
	text-align: center;
	position: absolute;
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 12px;
	box-sizing: border-box;" th:href="@{all}" >All User </a >
<a style="font-weight: 800;
    font-size: 17px;
	color: #666;
left:370px;
text-decoration: none;
  width: 200px;
	margin: 0px 10px;
	text-align: center;
	position: absolute;
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 12px;
	box-sizing: border-box;" th:href="@{deleteusername}" >Delete User</a >
<a style="font-weight: 800;
    font-size: 17px;
	color: #666;
left:620px;
text-decoration: none;
  width: 228px;
	margin: 0px 10px;
	text-align: center;
	position: absolute;
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 12px;
	box-sizing: border-box;" th:href="@{request/allreq}">Show friend Requests</a >
<a style="font-weight: 800;
    font-size: 17px;
	color: #666;
left:895px;
text-decoration: none;
 width: 200px;
	margin: 0px 10px;
	text-align: center;
	position: absolute;
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 12px;
	box-sizing: border-box;" th:href="@{findbyname}">Search User </a >
<table style="
    	width: 400px;
	margin: 75px auto;
	text-align: center;
	position: relative;
top:110px;
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box; ">


    <tr th:each="customer: ${admin}" style="margin: 0px;
    padding: 12px 19px 12px 27px;
    border-bottom: 1px solid;
    font-size: 100%;
    font: inherit; ">

        <td th:text="${customer.id}"></td>
        <td >Name <br></td >
        <td th:text="${customer.firstname}" style="margin: 0px;
    padding: 12px 19px 12px 27px;
    border-bottom: 1px solid;
    font-size: 100%;
    font: inherit;"> xzcxzc<br> </td>
        <td>City <br></td>
        <td th:text="${customer.thing3}" style="margin: 0px;
        padding: 12px 19px 12px 27px;
        border-bottom: 1px solid;
        font-size: 100%;
        font: inherit;"> <br> </td>
        <td>Email<br> </td>
        <td th:text="${customer.email}" style="margin: 0px;
        padding: 12px 19px 12px 27px;
        border-bottom: 1px solid;
        font-size: 100%;
        font: inherit;"> <br> </td>
        <td>about me  <br> </td>
        <td th:text="${customer.about}"style="margin: 0px;
    padding: 12px 19px 12px 27px;
    border-bottom: 1px solid;
    font-size: 100%;
    font: inherit;"> <br> </td>
        <td style="margin: 0px;
    padding: 12px 19px 12px 27px;
    border-bottom: 1px solid;
    font-size: 100%;
    font: inherit;">behavior  </td>
        <td th:text="${customer.thing1}"> <br> </td>
        <td style="margin: 0px;
    padding: 12px 19px 12px 27px;
    border-bottom: 1px solid;
    font-size: 100%;
    font: inherit;">favorite  </td>
        <td th:text="${customer.thing2}"> <br> </td>
        <td style="margin: 0px;
        padding: 12px 19px 12px 27px;
        border-bottom: 1px solid;
        font-size: 100%;
        font: inherit;">  <a name="SING UP" style="width: 100px;
	background: #ff1818;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 7px;
	cursor: pointer;
	text-decoration: none;
	padding: 7px 5px;
	margin: 10px 5px;" th:href="@{'/deleteByid/'+${customer.id}}">Delete</a>
        </td>
    </tr>

</table >
</body>
</html>