<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" uri="http://www.springframework.org/tags/form">
<head>
    <meta charset="UTF-8">
    <title>show all user</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
<h2 style="font-weight: 800;
    font-size: 17px;
	color: #666;

    	width: 400px;
	margin: 45px auto;
	text-align: center;
	position: relative;
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;" >All User </h2 >
<table style="
    	width: 400px;
	margin: 75px auto;
	text-align: center;
	position: relative;
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;">


    <tr th:each="customer: ${request}" style="margin: 0px;
    padding: 12px 19px 12px 27px;    border-bottom: 1px solid;
    font-size: 100%;
    font: inherit;">
        <td >user Name <hr><br></td >
        <td th:text="${customer.userid}"></td>
        <td >guest Name <hr><br></td >
        <td th:text="${customer.guestid}" style="margin: 0px;
    padding: 12px 19px 12px 27px;
    border-bottom: 1px solid;
    font-size: 100%;
    font: inherit;"> <br> </td>
        <td>accept <hr><br></td>
        <td th:text="${customer.tik}" style="margin: 0px;
        padding: 12px 19px 12px 27px;
        border-bottom: 1px solid;
        font-size: 100%;
        font: inherit;"> <br> </td>

        </td>
    </tr>

</table >
</body>
</html>